# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     ec2-46-51-184-229.eu-west-1.compute.amazonaws.com
    database_port:     5432
    database_name:     d6r74gsqthmp93
    database_user:     bvubhazgqjgcgx
    database_password: 033c3a914c2fff9b650cb996192d29b31f13128b1a794062f2137494770bf5f5
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    database_url: ~
    monolog_action_level: error